<article class="rental">
  <Movie::Image
    src="{{@model.poster_path}}"
    alt="A picture of {{@model.title}}"
/>
  <div class="details">
    <h3>
      <LinkTo @route="movie" @model={{@movie}}>
        {{@movie.title}}
      </LinkTo>
    </h3>
    <div class="detail owner">
      <span>Original Title:</span> {{@movie.original_title}}
    </div>
    <div class="detail type">
      <span>Popularity:</span> {{@movie.popularity}}
    </div>
    <div class="detail location">
      <span>Release Date:</span> {{@movie.release_date}}
    </div>
    <div class="detail bedrooms">
      <span>Number of Votes:</span> {{@movie.vote_count}}
    </div>
  </div>
</article>